*{
	padding: 5px;
	margin: 5px;
}
ul{
	list-style-type:none;
	color: gray;

}
li{
	background-image:url(../image/baibiaoti.png);
	width: 160px;
	height: 26px;
	text-align: center;
}
#b2{
	background-image: url(../image/lvbiaoti.png);
	width: 160px;
	height: 26px;
}
.b1{
	background-image: url(../image/bj.png);
	width: 210px;
	height:373px;
}